header {
    background-color: #e91e63;
    color: white;
    text-align: left;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #f06292; 
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #d81b60;
}

nav ul li a:hover {
    background-color: #ec407a;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.tentang-aku, .pendidikan {
    width: 50%;
    padding: 30px;
    border: 1px solid #f48fb1;
    border-radius: 5px;
    height: 450px;
}

.tentang-aku {
    background-color: #f48fb1;
    color: white;
    width: 25%;
    border-radius: 5px;
    border: 5px solid #d81b60;
}

.pendidikan {
    background-color: #fce4ec;
    color: rgb(0, 0, 0);
    width: 65%;
}

.timeline {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.timeline .item {
    width: 100px;
    height: 65px;
    background-color: #f06292;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #c2185b;
}

footer {
    background-color: #f06292;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid #d81b60;
    display: flex;
    justify-content: center;
    align-items: center;
}
